@media (max-width:575px) {
    /* extra sm */

    .nav_btn {
        
        display: none;
    }
    .bannar_img{
        display: none;
    }
    
    .bannar_text h1{
        font-size: 32px;
      
     }
     .bannar_text{
        text-align: center;
    
     }
     .team_img{
        margin: 10px;
       
     }
     .team_head h2{
        font-size: 32px;
     }
       .hover_img{
       width: 100%;
       margin: 10px;
     }
     .latest{
        margin: 10px;
    } 
    .survice{
        text-align: center;
       }
    .Customar_head h2{
        font-size: 32px;
     }
     .Customar_head h2{
        font-size: 32px;
     }
     
}
/* for sm */
@media (min-width:576px) and (max-width:767.99px){
    
    
    
    .bannar_text h1{
       font-size: 32px;
    }
    
    .nav_btn {
        
        display: none;
    }
    .survice{
        text-align: center;
       }
       .team_img{
        margin-top: 10px;
     }
     .hover_img{
        width: 100%;
        margin: 10px;
      }
      .ok{
        padding: 15px;
    }
    .ok2{
        display: none;
    }
     

}
@media (min-width:769px) and (max-width:991.99px) {
    /* for md */
   
    .nav_btn {
        
        display: none;
    }
    .bannar_text h1{
        font-size: 42px;
    
    }
    .speacial{
        display: none;
     }
     a {
        text-decoration: none;
       
    }
   
       
    }
    .hover_img{
        margin-top: 20px;
    }
    .team_img{
       padding-top: 20px;
    }
    .cutomer3{
        display: none;
    }
    
    


@media (min-width:992px) and (max-width:1199.99px) {
    .bannar_text{
        font-size: 10px;
       }
       
}
@media (min-width:1200px) and (max-width:1399.99px) {
    
}
@media (min-width:1400px){

}